/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  color: rgb(0, 0, 0);
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
font-family: 'Inter', sans-serif;
}

/* Base */
body {
  font-family: var(--font-sans);


}
/* Layout */

.contenedor-banner p{
font-size: 18px;
text-align: left;
margin-left: 20px;
margin-right: 60px;
padding-right: 60px;
}
.contenedor-banner img{
  width: 20%;
  object-fit: contain;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}
.contenedor-banner h2,
.contenedor-banner p:first-of-type
{
  font-size: 70px;
  text-align: left;
  margin-top: 5px;
  margin-left: 20px;
}
.contenedor-banner p:first-of-type{
 display: none;
}
.contenedor-banner:hover p:first-of-type{
 display: block;
}
.contenedor-banner:hover h2{
 display: none;
}

.contenedor-banner{
   /* background-image: url("https://res.cloudinary.com/dyk5cl3d8/image/upload/v1644342669/web%206to%20semestre/IMG_7623_uzpsrh.jpg"); */
  background-color: #ff9a00;
   background-repeat: no-repeat;
   background-position: top center;
   max-height: 400px;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 5px;
}


/* Componentes */

/* Utilidades */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
